:root {
  font-size: calc(16px * 0.625);
  --sidebar-width: 250px;
  --bg-main-content: rgb(42, 112, 202);
  --bg-todo: rgb(50, 169, 205);
  --bg-todo-title-high: rgb(226, 82, 82);
  --bg-todo-title-medium: rgb(253, 183, 103);
  --bg-todo-title-low: rgb(32, 189, 32);
  --bg-todo-date: rgb(171, 171, 173);
  --bg-todo-shadow: rgb(0, 0, 0);
  --bg-button-high: rgb(255, 216, 216);
  --bg-button-medium: rgb(255, 237, 216);
  --bg-button-low: rgb(216, 255, 216);
  --bg-button-shadow: rgb(0, 0, 0);
  --bg-form-input: rgb(211, 255, 249);
  --bg-form-input-border: rgb(128, 128, 128);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* template page */
body {
  height: 100vh;
  font-size: 2rem;
}

hr {
  width: 100%;
}

/* sidebar */
.sidebar {
  width: var(--sidebar-width);
  position: fixed;
  height: 100%;
  background-color: var(--bg-main-content);
  overflow: scroll;
}
.createProject {
  margin: 0 auto;
}
.projectList,
.createProject {
  padding: 1em;
}

.projectList ol {
  margin-top: 1em;
}

li {
  list-style-type: none;
  cursor: pointer;
  padding: 1em;
  border-radius: 20px;
  font-size: 2.5rem;
  margin-top: 0.5em;
  background-color: aliceblue;
}

/* main content */
.project {
  position: absolute;
  left: var(--sidebar-width);
  padding: 1em;
  width: calc(100% - var(--sidebar-width));
  height: 100%;
}

.projectHead {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin-bottom: 1em;
}

/* todolist */
.todoList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

.todo div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  cursor: pointer;
  padding: 1em;
  box-shadow: 1px 1px 2px 1px var(--bg-todo-shadow);
}

.todo div:active {
  box-shadow: -1px -1px 2px 1px var(--bg-todo-shadow) inset;
}

.todo h3 {
  font-size: 3.5rem;
  margin-bottom: 0.5em;
  text-decoration: underline;
}

.todo p {
  text-align: justify;
  font-size: 2rem;
  &:nth-child(2) {
    color: var(--bg-todo-date);
    text-align: right;
  }
}

.todo.High h3 {
  color: var(--bg-todo-title-high);
}

.todo.Medium h3 {
  color: var(--bg-todo-title-medium);
}

.todo.Low h3 {
  color: var(--bg-todo-title-low);
}

.todoDetails {
  grid-row: 1;
  grid-column: 1/ 6;
}

/* button */
.High button {
  background-color: var(--bg-button-high);
}

.Medium button {
  background-color: var(--bg-button-medium);
}

.Low button {
  background-color: var(--bg-button-low);
}

button {
  cursor: pointer;
  width: 100%;
  padding: 1em 0.5em;
  background-color: var(--bg-todo);
  box-shadow: 1px 1px 2px 1px var(--bg-button-shadow);
  font-size: 2rem;
}

button:active {
  box-shadow: -1px -1px 2px 1px var(--bg-button-shadow) inset;
}

/* form */
.formField {
  display: flex;
  justify-content: center;
}

form {
  margin: 2em;
  width: 50%;
}

form div {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 1em 0;
}

form div.addButton {
  display: block;
  width: 64%;
  margin-left: auto;
}

form input,
select,
textarea {
  border-bottom: 1px solid grey;
  background: var(--bg-form-input);
  color: rgb(80, 78, 78);
  font-size: 2rem;
  padding: 0.3em;
}

form select#priority {
  border: solid 1px var(--bg-form-input-border);
}

form textarea {
  resize: vertical;
}
